*{
    box-sizing: border-box;
  }
  
  body{
    font-family: "Times New Roman", "sans-serif";
    text-align: center;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
  
  }

  #main{
    background-color: rgb(249, 249, 249);
    max-width: 90vw;
    min-height: 90vh;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    overflow-y: auto;
  
  }

  #tribute-info{
  padding: 5px 0;
  text-align: center;
  background-color: rgb(241, 232, 232);
  align-items: center;
  font-size: 1.2em;
  max-width: 100%;
  }

  #title{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }

  img{
    display: block;
  }

  #img-div{
    margin-top: 20px;
  
  }

  #image{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    border-radius: 12px;
  
  }

  #img-caption{
  font-style: italic;
  padding: 10px;
  margin-top: 10px;
  
  }
  #tribute-link {
    text-decoration: none;
    color: #2e3a87;
    padding: 10px 15px;    
  
  }

  #tribute-info {
    padding: 10px 0;
    background-color: rgb(241, 232, 232);
    font-size: 1.2em;
  }

  #tribute-info ul{
    list-style-type: none;
    padding: 1px;
  }
  #tribute-info li {
    font-size: 1em;
    margin: 8px 0;
    color: #252424;
}
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  /* Responsivité */
@media (max-width: 768px) {
    #main {
      padding: 15px;
      max-width: 95vw;
      max-height: 95vh;
    }
    
    h1 {
      font-size: 2em;
    }
    
    h2 {
      font-size: 1.2em;
    }
    
    #tribute-info {
      font-size: 1em;
    }
  }